body {
  background-color: #f6f8fa;
  font-family: 'Roboto', sans-serif;
  color: #656d76;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  top: 0;
  background-color: #fff;
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

h1 {
  margin: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  padding-left: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

ul {
  margin: 0;
  width: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

li {
  margin: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  list-style: none;
}
