body {
  background-color: #f6f8fa;
  font-family: 'Roboto', sans-serif;
  color: #656d76;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-do-Div {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.15);
  width: 50%;
}

.to-do-Div2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

h1 {
  margin: 0;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  padding-left: 15px;
  text-align: start;
}

span {
  display: flex;
  align-items: center;
  text-align: end;
  padding-right: 25px;
}

.to-do-Div3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

input {
  padding: 12.5px;
  border: 0;
  font-style: italic;
}

input::placeholder {
  color: #bbbfc4;
}

.taskInputERROR::placeholder {
  color: red;
}

.taskInput {
  width: 100%;
}

.submitButton {
  background-color: transparent;
  border: 0;
  width: 25%;
}

ul {
  margin: 0;
  width: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.divLi {
  width: 100%;
}

li {
  margin: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.elementDiv1 {
  width: 87%;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 0.8rem;
}

.elementDiv2 {
  width: 13%;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 0.8rem;
}

.taskLabel {
  width: 100%;
}

.elementDeleteButton {
  background-color: transparent;
  border: 0;
}

.threeDots {
  border: none;
  background: transparent;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  transform: rotate(90deg);
}

.to-do-ClearButtonDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-do-ClearButton {
  width: 100%;
  color: #7d7b7b;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

h2 {
  font-weight: 400;
}
